body {
    background-color: #FFCB05;
}

.logo {
    width: 550px;
    height: 150px;
    display: block;
    margin: auto;
}

.title {
    font-family: Verdana;
    font-size: 60px;
    text-align: center;
    color: #FFCB05;
    text-shadow:
    -1px -1px 0 #0C5492,
     0   -1px 0 #0C5492,
     1px -1px 0 #0C5492,
     1px  0   0 #0C5492,
     1px  1px 0 #0C5492,
     0    1px 0 #0C5492,
    -1px  1px 0 #0C5492,
    -1px  0   0 #0C5492;
}

.text {
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
    color: #0070B6;
}

#chosenword {
    font-family: Verdana;
    font-size: 30px;
    text-align: center;
    color: #0070B6;
}